$primary: #71b85f;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
);

$carousel-control-prev: (
  bottom: 0,
);
$carousel-control-next: (
  bottom: 0,
);

@import "~bootstrap/scss/bootstrap.scss";
